body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-image: url("img/Blackjack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;  
    text-align: center;
}

h1 {
    color: navy;
}

#message-el {
    font-style: italic;
}

#start-game {
    color: white;
    background-color: rgb(48, 48, 161);
    width: 150px;
}
